body 
    div(class="container")
        header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
            div(class="col-md-3 mb-2 mb-md-0")
                a(href="/" class="d-inline-flex link-body-emphasis text-decoration-none")
                    img(src="/images/beatfabrikken.jpeg", alt="Logo", width="40" height="50")
            ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
                li 
                    a(href="/" class="nav-link px-2") Forside
                li
                    a(href="/booking" class="nav-link px-2") Booking
                li 
                    a(href="https://www.stokkebroedans.dk/" class="nav-link px-2") Om os
            div(class="col-md-4 text-end")
                if isAdmin
                    button(type="button" class="btn btn-primary me-2" onclick="location.href='/admin'") Admin
                if !isLoggedIn
                    button(type="button" class="btn btn-primary me-2" onclick="location.href='/registrering'") Opret bruger
                    button(type="button" class="btn btn-outline-primary" onclick="location.href='/login'") Login
                else
                    button(type="button" class="btn btn-primary me-2" onclick="location.href='/profil'") Profil
                    button(type="button" class="btn btn-outline-primary" onclick="location.href='/logout'") Logud
                
            

