include includes/head
include includes/header
h2(class="text-center mb-4") Ændre Password
div(class=" w-100 mx-auto" style="max-width: 300px")
    form(action="/profil/editPassword", method="POST", class="needs-validation", novalidate)
        div(class="form-floating mb-3")
            input(type="password", name="newPassword", class="form-control", id="floatingNewPassword", placeholder="Nyt Password", required)
            label(for="floatingNewPassword") Nyt Password

        div(class="form-floating mb-3")
            input(type="password", name="confirmNewPassword", class="form-control", id="floatingConfirmNewPassword", placeholder="Bekræft Nyt Password", required)
            label(for="floatingConfirmNewPassword") Bekræft Nyt Password

        button(type="submit", class="btn btn-primary w-100 py-2") Opdater Password
include includes/footer
