include includes/head
include includes/header
h1(class="text-center mb-4") Forside
div(class="text-center")
    img(src="/images/smukkepeter.jpg", class="img-fluid rounded w-340px mx-auto")
figure(class="text-center")
  blockquote(class="blockquote")
    p "John er helt klart en bedre breaker end min egen søn."
  figcaption(class="blockquote-footer") Hans Peter Stokkebroe
include includes/footer